body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}



.Kosher img {
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    margin: 0;
}

.responsive-image {
    display: block; /* Show the larger image by default */
}

.small-logo {
    display: none; /* Hide the smaller image by default */
}


.navbar-brand h1 {
    font-family: 'Lora', serif;
    color: #557c32;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: .75;
    margin: 0;
}
.navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}

.navbar-brand p span {
    vertical-align: middle;
}

a {
    text-decoration: none;

}



.navbar-brand {
    float: right;
    margin-top: 5px;
    display: flex; /* caused the h1 element (restuarant's name) to on 
    right of the logo rather than on the bottom. */ 
    
}



ul {
    position: relative;
    top: -50px;
    right: -40px;
}

.nav-item {
    text-align: center; /* Center-align the text */
    
}
.nav-link i {
    position: relative;
    display: block; /* Make the icon appear above the text */
    font-size: 2rem; /* Adjust icon size */
    color: #951C49;
    margin-right: 5px;
    
    
}


.display-5 {
    color: black;
}

.col-md-8 {
    color: #000;
}

.rest {
    background: url('..css/images/jumbotron_1200.jpg') no-repeat;
    box-shadow: 0 0 50px #3f0c1f;
    border: 2 px solid #3f0c1f;
    margin: 20px;
    
    
}


.btn, .btn-primary {
    background-color: #f6b319;
    margin-top: 30px;
    --bs-btn-hover-bg: #f6b319;
}

.btn {
    color: #61122f;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-bottom: 0;
}


.py-5 {
    padding: 0 !important;
}


.row, .container-fluid, .py-5{
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 !important;
    border-radius: 15px;

}



#menu-tile, #specials-tile, #map-tile {

    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    border-radius: 15px;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover {

    box-shadow: 0 1px 5px 1px #cccccc;

}

#menu-tile {
    background: url('../css/images/menu-tile.jpg') no-repeat;
    background-position: center;
}

#specials-tile {
    background: url('../css/images/specials-tile.jpg') no-repeat;
    background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}



/*********** Large Devies Only ***************/

@media (min-width: 1200px) {

    .navbar-brand h1{
        padding-top: 10px;

    }

    .py-5 {
        padding: 0 !important;
    }


    .container {
        width: 1170px;
    }

    .btn, .btn-primary, #xs-deliver {
        display: none;
    }

    

}



/*********** Medium Devies Only ***************/

@media (min-width: 992px) and (max-width: 1199px) {

    .navbar-toggler {
        position: relative;
        top: -40px;
        right: -100px;
        padding: 5px;
        margin-top: 0;
        margin-right: 15px;
        float: right;

    }
    
    .navbar-brand h1 {
        font-size: 1;
    }
    
    .navbar-nav {
        width: 300px;
    }



    ul {
        position: relative;
        right: 0;
        top: -40px;
        width: 100px;
    }

    .py-5 {
        padding: 0 !important;
    }



    .btn, .btn-primary, #xs-deliver {
        display: none;
    }

    .responsive-image {
        display: none;
    }

    .small-logo {
        display: block;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
       
    }
   

}



/*********** Small Devies Only ***************/

@media (min-width: 768px) and (max-width: 991px) {
  
    .navbar-brand h1{
        padding-top: 10px;

    }
    .navbar-brand p {
        text-transform: uppercase;
        font-size: .6em;
        margin-top: 12px;
    }

    .navbar-brand img {
        height: 20px;
        image-rendering: auto;
    }

    .navbar-brand {
        left: 10px;
    }


    ul {
        position: relative;
        right: -50px;;
        top: -40px;
        width: 300px;
    }


    .navbar-toggler {
        position: relative;
        top: -40px;
        padding: 5px;
        margin-top: 0;
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .rest {

        padding: 0 !important;
    }

    .btn, .btn-primary, #xs-deliver {
        display: none;
    }

    .responsive-image {
        display: none;
    }

    
} 



/*********** Extra Small Devies Only ***************/


@media (max-width: 767px) {
    .responsive-image {
        display: none;
      }

      .navbar-brand h1 {
        padding-top: 10px;
        font-size: 1.3em;
        width: 100%;

    }
    .navbar-brand p {
        text-transform: uppercase;
        font-size: .6em;
        margin-top: 12px;
    }

    .nav-link i {
        width: 300px;
        margin-bottom: 0;
        padding-bottom: 0;
        
    }
    
    .navbar-brand {
        margin-top: 0;
        margin-right: 0;
        margin-left: 5px;
      }

    .Kosher {
        margin-bottom: 0;
    }

    .navbar-toggler {
        position: relative;
        top: -20px;
        padding: 5px;
        margin-top: 0;
        margin-right: 5px;
    }


    ul {
        position: relative;
        right: 0;
        top: -20px;
        width: 300px; 
        
    }

    

    .navbar-collapse {
        justify-content: right;
        margin-top: 20px;

    }

    .p-5 {
        padding: 0 !important;
    }

    #phone {
        display: none;
    }

    a, .btn {
        margin: 0;
        
    }

    .btn, .btn-primary {
        display: block;
        padding-top: 6px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 1.3em;

       
    }


    .d-grid, .container, .container-fluid, .py-5 {
        padding-top: 20px !important;
        padding-bottom: 5px !important;
        
        
    }

    .navbar-brand h1 {
        font-size: 1.3em;
    }

    .navbar-collapse::after {
        display: table;
    }

   

   
}

@media (max-width: 576px) {

    #menu-tile, #specials-tile {
        width: 360px;
        margin: 0 auto 15px;
    }

  

}

  

    
  



 







