body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}



.navbar-brand img {
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 5px 15px 5px;

}

.Kosher img{
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    margin: 0;
}


.navbar-brand h1 {
    font-family: 'Lora', serif;
    color: #557c32;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: .75;
    margin: 0;
}
.navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}

.navbar-brand p span {
    vertical-align: middle;
}

a {
    text-decoration: none;

}

.navbar-brand {
    float: right;
    margin-top: 5px;

    
    
}



ul {
    position: relative;
    top: -50px;
    right: -40px;
}

.nav-item {
    text-align: center; /* Center-align the text */
    
}
.nav-link i {
    position: relative;
    display: block; /* Make the icon appear above the text */
    font-size: 2rem; /* Adjust icon size */
    color: #61122f;
    margin-right: 5px;
}

.navbar-collapse {
    width: 100px;
}

.display-5 {
    color: black;
}

.col-md-8 {
    color: #000;
}










/*********** Large Devies Only ***************/

@media (min-width: 1200px) {

    .navbar-brand h1{
        padding-top: 10px;

    }

}

/*********** Medium Devies Only ***************/

@media (min-width: 992px) and (max-width: 1199px) {

    .navbar-toggler {
        position: relative;
        top: -40px;
        right: -100px;
        padding: 5px;
        margin-top: 0;
        margin-right: 5px;
    }
    
    .navbar-brand h1 {
        font-size: 1;
    }
    
    .navbar-nav {
        width: 300px;
    }



    ul {
        position: relative;
        right: 0;
        top: -40px;
        width: 100px;
    }

 

   

}



/*********** Small Devies Only ***************/

@media (min-width: 768px) and (max-width: 991x) {
  
    .navbar-brand h1{
        padding-top: 10px;

    }
    .navbar-brand p {
        text-transform: uppercase;
        font-size: .6em;
        margin-top: 12px;
    }

    .navbar-brand img {
        height: 20px;
        image-rendering: auto;
    }

    .navbar-brand {
        left: 10px;
    }


    ul {
        position: relative;
        right: -50px;;
        top: -40px;
        width: 300px;
    }



    .navbar-toggler {
        position: relative;
        top: -40px;
        padding: 5px;
        margin-top: 0;
        margin-right: 5px;
    }




   
    
} 


@media (min-width: 768px) {
    .container,.container-md {
        max-width:100%
    }

    ul {
        position: relative;
        right: 0;
        top: -40px;
        width: 300px;
    }


    
    .navbar-toggler {
        position: relative;
        top: -55px;
        padding: 5px;
        margin-top: 0;
        margin-right: 5px;
        width: 50px;
    }

    


}


/*********** Extra Small Devies Only ***************/

@media (max-width: 767px) {
    .responsive-image {
        display: none;
      }
      .navbar-brand h1 {
        padding-top: 10px;
        font-size: 1.3em;

    }
    .navbar-brand p {
        text-transform: uppercase;
        font-size: .6em;
        margin-top: 12px;
    }

    .nav-link i {
        width: 300px;
        margin-bottom: 0;
        padding-bottom: 0;
        
    }
    
    .navbar-brand {
        margin-top: 0;
        margin-right: 0;
      }

    .Kosher {
        margin-bottom: 0;
    }

    .navbar-toggler {
        position: relative;
        top: -20px;
        padding: 5px;
        margin-top: 0;
        margin-right: 5px;
    }


    ul {
        position: relative;
        right: 0;
        top: -20px;
        width: 300px;
        
        
        
    }

    
    .container,.container-md, .container-sm {
        max-width:100%
    }

    .navbar-collapse {
        justify-content: right;
    }

 

    



   
}

  

    
  



 







